<div class="container-fluid px-4">
    <h1 class="mt-4">Tipos de casos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Tipos de casos</li>
    </ol>
    <%- include('../partials/message') %>
    <div class="card mb-4">
        <!-- <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Users
        </div> -->
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-header" data-bs-toggle="modal" data-bs-target="#addModal">
                Añadir tipo
            </button>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tipo</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for (let type of types) { %>
                        <tr>
                            <td><%= type.tipo %></td>
                            <td>
                                <button data-id="<%= type.id %>" data-name="tipos" type="button" class="btn btn-primary editbtn" data-bs-toggle="modal" data-bs-target="#editModal">
                                    Editar
                                </button>
                                
                            </td>
                            <td>
                                <a data-id="<%= type.id %>" data-name="tipos" class="btn btn-danger btn-delete">Eliminar</a>
                            </td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/crud.js"></script>
<%- include('./add_modal') %>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Editar tipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="editModalBody" class="modal-body">
                
            </div>
        </div>
    </div>
</div>