<div class="container-fluid px-4">
    <h1 class="mt-4">Casos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Casos</li>
    </ol>
    <%- include('../partials/message') %>
    <div class="card mb-4">
        <!-- <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Users
        </div> -->
        <div id="card-body" class="card-body">
            <a href="/cases/add" type="button" class="btn btn-primary btn-header">
                Añadir caso
            </a>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Cliente</th>
                        <th>Asunto</th>
                        <th>Descripción</th>
                        <th>Creado</th>
                        <th>Modificado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tipo</th>
                        <th>Cliente</th>
                        <th>Asunto</th>
                        <th>Descripción</th>
                        <th>Creado</th>
                        <th>Modificado</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for (let caso of cases) { %>
                        <tr>
                            <td><%= caso.tipo %></td>
                            <td><%= caso.nombre %></td>
                            <td><%= caso.asunto %></td>
                            <td><%= caso.descripcion %></td>
                            <td><%= caso.creado.toLocaleString() %></td>
                            <td><%= caso.modificado.toLocaleString() %></td>
                            <td>
                                <a href="/cases/case/<%= caso.id %>" type="button" class="btn btn-primary">Editar</a>    
                            </td>
                            <td>
                                <a data-id="<%= caso.id %>" data-name="cases" class="btn btn-danger btn-delete">Eliminar</a>
                            </td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/crud.js"></script>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Editar caso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="editModalBody" class="modal-body">
                
            </div>
        </div>
    </div>
</div>