<div class="container-fluid px-4">
    <h1 class="mt-4">Permisos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item active">Permisos</li>
    </ol>
    <%- include('../partials/message') %>
    <div class="card mb-4">
        <!-- <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Users
        </div> -->
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-header" data-bs-toggle="modal" data-bs-target="#addModal">
                Añadir permiso
            </button>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Rol</th>
                        <th>Función</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Rol</th>
                        <th>Función</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for (let permission of permissions) { %>
                        <tr>
                            <td><%= permission.descripcion %></td>
                            <td><%= permission.path %></td>
                            <td>
                                <button data-id="<%= permission.id %>" data-name="permission" type="button" class="btn btn-primary editbtn" data-bs-toggle="modal" data-bs-target="#editModal">
                                    Editar
                                </button>
                                
                            </td>
                            <td>
                                <a href="/permission/delete/<%= permission.id %>" data-id="<%= permission.id %>" data-name="permission" class="btn btn-danger btn-delete">Eliminar</a>
                            </td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/user.js"></script>
<%- include('./add_modal') %>
<%- include('./edit_modal') %>