<div class="container-fluid px-4">
  <h1 class="mt-4">Facturas</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item active">Facturas</li>
  </ol>
  <div class="card mb-4">
      <div class="card-body">
        <a type="button" class="btn btn-primary btn-header" href="/facturas/recepcion">
          Emitir factura
        </a>
          <table id="datatablesSimple">
              <thead>
                    <tr>
                        <th>Número</th>
                        <th>Fecha</th>
                        <th>Razón Social</th>
                        <th>Número Documento</th>
                        <th>Tipo Documento</th>
                        <th>Monto Total</th>
                        <th>Usuario</th>
                    </tr>
              </thead>
              <tfoot>
                    <tr>
                      <th>Número</th>
                      <th>Fecha</th>
                      <th>Razón Social</th>
                      <th>Número Documento</th>
                      <th>Tipo Documento</th>
                      <th>Monto Total</th>
                      <th>Usuario</th>
                    </tr>
              </tfoot>
              <tbody>
                  <% for (let resultado of resultados) { %>
                        <tr>
                            <td><%= resultado.numero %></td>
                            <td><%= resultado.fecha_emision.toLocaleString() %></td>
                            <td><%= resultado.razon_social %></td>
                            <td><%= resultado.numero_documento %></td> 
                            <td><%= resultado.tipo_documento_id %></td>
                            <td><%= resultado.monto_total %></td>
                            <td><%= resultado.usuario %></td>
                            <td>
                                <button data-id="<%= resultado.id %>" type="button" class="btn btn-danger anularbtn">
                                    Anular
                                </button>
                            </td>
                        </tr>
                  <% } %> 
              </tbody>
          </table>
      </div>
  </div>
</div>
<script src="/js/anular.js"></script>