<div class="container-fluid px-4">
    <h1 class="mt-4">Recepción de Factura</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Recepción de Factura</li>
    </ol>
    <form id="recepcionForm">
        <div class="mt-4 row g-3">
            <div class="col-md-3">
                <label class="form-label">Fecha</label>
                <input type="date" class="form-control" id="date" readonly>
            </div>
            <div class="col-md-3">
                <label class="form-label">NIT</label>
                <input type="text" class="form-control" id="nit" name="nit" placeholder="NIT o CI del cliente">
            </div>
            <div class="col-md-6">
                <label class="form-label">Razón Social</label>
                <div class="mb-3">
                    <!-- <input type="text" class="form-control" id='user' name='user' list="datalistUsers" placeholder="Selecciona un cliente"/>
                    <datalist id="datalistUsers"> -->
                    <select id="user" name='user'>
                        <% for (let user of users) { %>
                            <option value="<%= user.id %>" data-nit="<%= user.nit %>" data-tipo="<%= user.tipo_documento_id %>"><%= user.razon_social %></option>
                        <% } %> 
                    </select>
                    <!-- </datalist> -->
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <table class="table table-bordered" id="tablaDetalle">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Acción</th>
                            <th style="display:none;">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" id='codigo' placeholder="Escriba el código"/></td>
                            <td>
                                <select id="descripcion">
                                    <% for (let product of products) { %>
                                        <option value="<%= product.id %>" data-codigo="<%= product.codigo %>" data-precio="<%= product.precio %>"><%= product.descripcion %></option>
                                    <% } %> 
                                </select> 
                            </td>
                            <td><input type="text" class="form-control" id='precio' readonly/></td>
                            <td><i class="fa-solid fa-check iconCheck" id="addProduct"></i></td>
                        </tr>
                        <tr>
                            <th colspan="2">Monto Total:</th>
                            <th><input type="text" class="form-control" id='total' name='total' readonly/></th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button id="facturarBtn" type="submit" class="btn btn-success btn-block">
                    Facturar
                </button>
            </div>
        </div>
    </form>
</div>
<script src="/js/recepcion.js"></script>