<div class="modal fade" id="addModaluser" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Añadir usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="userForm">
            <div class="mb-3">
              <select class="form-select" name="role"> 
                <option selected hidden>Rol</option>
                <% for (let role of roles) { %>
                <option value="<%= role.id %>"><%= role.descripcion %></option>
                <% } %> 
              </select>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="fullname" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="email" placeholder="Correo electrónico" >
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="cellphone" placeholder="Celular">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="identity" placeholder="Carnet de identidad">
            </div>
            <div class="mb-3">
              <select class="form-select" name="tipo"> 
                <option selected value="">Tipo Documento de Identidad</option>
                <% for (let tipo of tipos) { %>
                <option value="<%= tipo.codigo_clasificador %>"><%= tipo.descripcion %></option>
                <% } %> 
              </select>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="nit" placeholder="Número Documento">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="razon_social" placeholder="Razón Social">
            </div>
            <div class="mb-3">
              <select class="form-select" name="sucursal"> 
                <option selected value="">Sucursal</option>
                <% for (let sucursal of sucursales) { %>
                <option value="<%= sucursal.id %>"><%= sucursal.nombre %></option>
                <% } %> 
              </select>
            </div>
            <div class="mb-3">
              <button class="btn btn-success btn-block save-user">
                Guardar
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>