<div class="container-fluid px-4">
  <h1 class="mt-4">Clientes</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active">Clientes</li>
  </ol>
  <%- include('../partials/message') %>
  <div class="card mb-4">
      <!-- <div class="card-header">
          <i class="fas fa-table me-1"></i>
          DataTable Users
      </div> -->
      <div id="card-body" class="card-body">
        <a href="/usuarios/addclient" type="button" class="btn btn-primary btn-header">
            Añadir cliente
        </a>
          <table id="datatablesSimple">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Carnet de identidad</th>
                      <th>Razón Social</th>
                      <th>Numero Documento</th>
                      <th>Tipo Documento</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                    <th>Nombre</th>
                    <th>Carnet de identidad</th>
                    <th>Razón Social</th>
                    <th>Numero Documento</th>
                    <th>Tipo Documento</th>
                  </tr>
              </tfoot>
              <tbody>
                  <% for (let user of users) { %>
                      <tr>
                          <td><%= user.nombre %></td>
                          <td><%= user.c_identidad %></td>
                          <td><%= user.razon_social %></td>
                          <td><%= user.numero_documento %></td>
                          <td><%= user.descripcion %></td>
                          <td>
                              <a href="/usuarios/casos/<%= user.id %>" class="btn btn-primary">Casos</a>
                          </td>
                          <td>
                              <button data-id="<%= user.id %>" data-name="usuarios" type="button" class="btn btn-primary editbtn" data-bs-toggle="modal" data-bs-target="#editModal">
                                  Editar
                              </button>
                          </td>
                          <td>
                              <button data-id="<%= user.id %>" data-name="usuarios" type="button" class="btn btn-danger btn-delete">Eliminar</button>
                          </td>
                      </tr>
                  <% } %> 
              </tbody>
          </table>
      </div>
  </div>
</div>

<script src="/js/crud.js"></script>
<script src="/js/user.js"></script>
<%- include('./add_modal', roles, sucursales, tipos) %>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Editar usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="editModalBody" class="modal-body">

          </div>
      </div>
  </div> 
</div>