<div class="container p-4">
  <div class="row">
    <div class="col-md-4  mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/user/edit/<%= user.id %>" method="POST">
            <div class="mb-3">
              <input type="text" value= "<%= user.nombre %>" class="form-control" name="fullname" placeholder="Nombre" autofocus>
            </div>
            <div class="mb-3">
              <input type="text" value= "<%= user.email %>" class="form-control" name="email" placeholder="Correo electrónico">
            </div>
            <div class="mb-3">
                <input type="text" value= "<%= user.celular %>" class="form-control" name="cellphone" placeholder="Celular">
            </div>
            <div class="mb-3">
                <input type="text" value= "<%= user.c_identidad %>" class="form-control" name="identity" placeholder="Carnet de identidad">
            </div>
            <div class="mb-3">
              <button class="btn btn-success btn-block">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>