<form action="/usuarios/edit/<%= user.id %>" method="POST">
    <div class="mb-3">
        <select class="form-select" name="role">
        <% for (let role of roles) { %>
            <% if (user.rol_id === role.id) { %>
            <option value="<%= role.id %>" selected><%= role.descripcion %></option>
            <% } else { %> 
            <option value="<%= role.id %>"><%= role.descripcion %></option>
            <% } %>
        <% } %> 
        </select>
    </div>
    <div class="mb-3">
        <input type="text" value="<%= user.nombre %>" class="form-control" name="fullname" placeholder="Nombre">
    </div>
    <div class="mb-3">
        <input type="text" value="<%= user.email %>" class="form-control" name="email" placeholder="Correo electrónico">
    </div>
    <div class="mb-3">
        <input type="text" value="<%= user.celular %>" class="form-control" name="cellphone" placeholder="Celular">
    </div>
    <div class="mb-3">
        <input type="text" value="<%= user.c_identidad %>" class="form-control" name="identity" placeholder="Carnet de identidad">
    </div>
    <div class="mb-3">
        <select class="form-select" name="tipo"> 
        <% for (let tipo of tipos) { %>
            <% if (user.tipo_documento_id === tipo.codigo_clasificador) { %>
                <option value="<%= tipo.codigo_clasificador %>" selected><%= tipo.descripcion %></option>
                <% } else { %> 
                <option value="<%= tipo.codigo_clasificador %>"><%= tipo.descripcion %></option>
            <% } %>
        <% } %> 
        </select>
    </div>
    <div class="mb-3">
        <input type="text" value="<%= user.numero_documento %>" class="form-control" name="nit" placeholder="Número Documento">
    </div>
    <div class="mb-3">
        <input type="text" value="<%= user.razon_social %>" class="form-control" name="razon_social" placeholder="Razón Social">
    </div>
    <div class="mb-3">
        <select class="form-select" name="sucursal">
            <option selected value="">Sucursal</option>
        <% for (let sucursal of sucursales) { %>
            <% if (user.sucursal_id === sucursal.id) { %>
            <option value="<%= sucursal.id %>" selected><%= sucursal.nombre %></option>
            <% } else { %> 
            <option value="<%= sucursal.id %>"><%= sucursal.nombre %></option>
            <% } %>
        <% } %> 
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-success btn-block">
        Guardar
        </button>
    </div>
</form>