<%- include('../partials/message') %>
<div class="container p-4">
    <div class="row">
        <% for (let us of users) { %>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            <%= us.name %> 
                        </h3>
                        <p class="m-2"><%= us.email %></p>
                        <p><%= time.timeago(us.created) %></p>
                        <a href="/user/delete/<%= us.id %>" class="btn btn-danger">Delete</a>
                        <a href="/user/edit/<%= us.id %>" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
</div>